---
layout: default
title: Home
---

<div class="ui segment">
  <h1 class="ui header">Latest Posts</h1>
  <div class="ui divided items">
    {% for post in site.posts %}
      <div class="item">
        {% if post.thumbnail %}
          <div class="image">
            <a href="{{ post.url }}">
              <img src="{{ post.thumbnail }}" alt="{{ post.title }}">
            </a>
          </div>
        {% endif %}
        <div class="content">
          <a class="header" href="{{ post.url }}">{{ post.title }}</a>
          <div class="meta">
            <span>{{ post.date | date: "%b %-d, %Y" }}</span>
          </div>
          <div class="description">
            <p>{{ post.excerpt }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
