<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.css" integrity="sha384-zTROYFVGOfTw7J2hSMouHjK9UeAGUsqG/hBOgW/GqM0dvG31M4UrEoObG7/mcL5A" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.js" integrity="sha384-vZIs9ANlsGn7T40SqnScB/2QIF6DnmRBr4JvB6Q2UaJqjM9L2pEw/LImTnTjCqS/," crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/contrib/auto-render.min.js" integrity="sha384-vZIs9ANlsGn7T40SqnScB/2QIF6DnmRBr4JvB6Q2UaJqjM9L2pEw/LImTnTjCqS/" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>
  <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
  <script>mermaid.initialize({startOnLoad:true});</script>
  <style>
    .dark {
      --tw-bg-opacity: 1;
      background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
      color: white;
    }
  </style>
</head>
<body>
  <div class="ui inverted vertical segment">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="active item" href="/">Home</a>
        <a class="item" href="/about.html">About</a>
        <div class="right item">
          <a class="ui inverted button" id="dark-mode-toggle">Toggle Dark Mode</a>
        </div>
      </div>
    </div>
  </div>

  <div class="ui container" style="margin-top: 2em;">
    {{ content }}
  </div>

  <div id="scroll-progress" class="ui top attached progress">
    <div class="bar"></div>
  </div>

  <button id="scroll-to-top" class="ui circular icon button massive blue" style="position: fixed; bottom: 1em; right: 1em; display: none;">
    <i class="arrow up icon"></i>
  </button>

  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <p>&copy; {{ "now" | date: "%Y" }} {{ site.title }}</p>
    </div>
  </div>
  <script src="/assets/js/main.js"></script>
</body>
</html>
